<div class="disclaimer-container">
  <div class="disclaimer-content">
    <p>This site is under development by UW-Oshkosh students as a prototype for <span>Infinite Growth</span>.</p>
    <p>Nothing on the site should be construed in any way as being connected with or representative of <span>Infinite Growth</span>.</p>
  </div>
</div>