<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>replit</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link href="/css/index.css" rel="stylesheet" type="text/css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Jost:wght@400;600&family=Lobster+Two&family=Poppins:wght@500&display=swap');
  </style>
</head>

<body>
  <div class="background"></div>
  <div class="page-container">
    <div class="icon-container">
      <img id="ai-icon" src="/img/AI_icon_NoBackground.svg">
      <img id="player-icon" src="/img/Human_icon_NoBackground.svg">
    </div>
    <%- include('partials/userDisplay') %>
    <div class="title-container">
      <h1 id="title">The Imitation Game</h1>
      <h2 id="subtitle">
        <span>Can you tell the difference between AI and human?</span>
        <span class="blinking-cursor"></span>
      </h2>
    </div>
    
    <div id="button-container">
      <div class="login-container">
        <% if (user && user.username) { %>
          <a href="/play" class="btn" id="play">PLAY</a>
          <a href="/logout" class="btn" id="login">logout</a>
        <% } else { %>
          <a href="signup" class="btn" id="sign-up">sign up</a>
          <a href="signup" class="btn" id="play">PLAY</a>
          <a href="login" class="btn" id="login">login</a>
        <% } %>
      </div>

      <div class="nav-container">
        <a href="about" class="btn" id="about">about</a>
      </div>
    </div>
  </div>
  <footer>
  <%- include('partials/disclaimer') %>
    <a id="verifier-link" href="https://validator.w3.org/">W3C Markup Validation Service</a>
  </footer>
</body>
<script src="/js/script.js"></script>

<!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
<script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>

</html>