/*
* Name: Woo Sik Choi & Adeel Sultan
* Date: 11/22/2023
* Description: Styling for the index page
*/

#ai-icon {
  max-width: 40%;
  margin: 3%;
}

#player-icon {
  max-width: 40%;
  margin: 3%;
}


#title {
  font-size: 3em;
  flex-shrink: 1;
  flex-wrap: wrap;
  text-align: center;
}

/* typing effect of the subtitle */
#subtitle #line{
  width: 100%;
  max-height: 3em;
  line-height: 1.2em;
  flex-grow: 0;
  flex-basis: 75%;
  overflow: hidden;
  font-size: 150%;
  text-align: center;
  color: #eae6e6;
  display: inline-block;
}

#subtitle .blinking-cursor {
  display: inline-block;
  animation: blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#subtitle span {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 5s steps(40, end), blink 0.5s step-end infinite;
}


#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 100%;
}


.nav-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  transition: 0.5s;
  flex-wrap: wrap;
  
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

.login-container .btn {
  min-width: 20%;
  max-width: 100px;
  min-height: 1em;
  
  font-weight: bold;
  font-size: 1em;
  background-color: transparent;
}

.login-container #play {
  min-width: 30%;
  max-width: 100px;
  height: 2em;
  font-weight: bold;
  background-color: rgba(70, 175, 87, 1);
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  transition: 0.5s;
  white-space: no-wrap;
}

.signup-container .btn {
  max-width: 10vw;
  max-height: 5vh;
}

/* Parts for the galaxy style background*/

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #1b2735 0%, #00001C 100%);
  z-index: -1;
  overflow: hidden;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
}

.background::before {
  background-image: radial-gradient(white 1px, transparent 1px), radial-gradient(white 1px, transparent 2px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  animation: zoom 15s linear infinite;
}

.background::after {
  background-image: radial-gradient(white 1px, transparent 3px), radial-gradient(white 2px, transparent 2px);
  background-size: 150px 150px;
  background-position: 0 0, 75px 75px;
  animation: zoom 70s linear infinite;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}




/* The popup form - hidden by default */
.popup-form {
  display: none;
  position: fixed;
  bottom: 50%;
  right: 50%;
  z-index: 9;
  margin-bottom: -15em;
  margin-right: -10.5em;

}

/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 2em;
  text-align: center;
  flex: 0 0 1;
}

.form-container .btn {
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 10vw;
  height: 12vh;
  margin: 0.5px;
  padding: 0.25px;
  font-size: 1.5em;
  border: solid #F0F0F0 2pt;
  border-radius: 0.65em;

}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=confirm-password],
.form-container input[type=email] {
  width: 100%;
  border: solid #F0F0F0 2pt;
  background: transparent;
  font-size: 1.25em;
  text-align: center;
  border-radius: 0.65em;
  margin: 0.5em;
  padding: 0.25;
  color: #F0F0F0;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Set a style for the submit/login button */

.form-container .btn:hover {
  background-color: #185ADE;
}



/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}